* {
	margin: 10;
	padding: 0;
}

#mainContainer {
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	font-family: Lato, Helvetica, Arial, sans-serif;
	
	font-weight: 300;
	font-size: 36px;
	text-shadow: rgb(0, 0, 0) 2px 2px 2px;
	color: black;
}

.metricContainer {
	padding: 0px 5px;
}

.icon {
	font-size: 44px;
	padding: 0px 10px;
}
