* {
	margin: 10;
	padding: 0;
}

#mainContainer {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	
	font-weight: 500;
	font-size: 36px;
	text-shadow: rgb(0, 0, 0) 7px 7px 7px;
	color: black;
}

.metricContainer {
	padding: 0px 20px;
}

.icon {
	font-size: 44px;
	padding: 0px 10px;
}
