* {
	margin: 0;
	padding: 0;
}

#mainContainer {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	font-family: Lato, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	
	font-weight: 500;
	font-size: 36px;
	text-shadow: rgb(0, 0, 0) 0px 0px 0px;
	color: white;
}

.metricContainer {
	padding: 0px 10px;
}

.icon {
	font-size: 44px;
	padding: 0px 10px;
}
