@font-face {
   font-family: myFont;
   src: url(https://github.com/Polryx/polryx.github.io/blob/1c3c09e09c3de3fedbeb24815edddee33cbc010c/Lato-Regular.ttf);
}
* {
	font-family: myFont;
	margin: 10;
	padding: 0;
}

#mainContainer {
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	
	font-weight: 300;
	font-size: 36px;
	text-shadow: rgb(0, 0, 0) 0px 0px 0px;
	color: white;
}

.metricContainer {
	padding: 0px 50px;
}

.icon {
	font-size: 44px;
	padding: 0px 10px;
}
